// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: $background-color;
  color: $primary-color;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-size: 1.4rem;

  @include sm {
    font-size: 1.4rem;
  }

  @include md {
    font-size: 1.6rem;
  }
}

section {
  margin: 0 35px;

  @include sm {
    margin: 0 10%;
  }
}

#{$a-tags} {
  color: $link-color;
  text-decoration: none;
}

a {
  transition: color 0.3s ease, border-color 0.3s ease;
}

a:hover {
  color: $secondary-color;
}

.d-flex {
  display: flex;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-5 {
  margin-top: 5px;
}

.d-inline {
  display: inline-block;
}

#button {
  padding: 5px 0.5em;
  border: 1.5px solid $primary-color;
  border-radius: 1em;
  transition: color 0.3s ease, border-color 0.3s ease;

  &:hover {
    border-color: $secondary-color;
    color: $secondary-color;
  }

  &.router-link-exact-active {
    color: $secondary-color;
    border-color: $secondary-color;
  }
}

#error-page {
  margin-top: 20vh;
}

.mainContent {
  position: relative;
  transition: right 0.3s ease;
  right: 0;
}

.menuActive {
  right: $sidebar-width;
}
