#home {
  margin-top: 60px;
  height: calc(100vh - 60px);
  position: relative;
  min-height: 500px;

  @include sm {
    min-height: 600px;
  }

  .arrows {
    @media (max-width: 340px) {
      display: none;
    }

    /**/
    position: absolute;
    bottom: 10%;
    left: 50%;
    /**/
    width: $arrow-size;
    height: $arrow-size;
    transform: translate(-50%, -50%);
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-left: $arrow-size/3 solid rgba(61, 90, 128, $peakopacity);
      border-bottom: $arrow-size/3 solid rgba(61, 90, 128, $peakopacity);
      transform: translate($arrow-size/3, $arrow-size * 4/3) rotate(-45deg);
      animation: arrows $arrow-speed linear infinite;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-left: $arrow-size/3 solid rgba(61, 90, 128, $peakopacity);
      border-bottom: $arrow-size/3 solid rgba(61, 90, 128, $peakopacity);
      transform: translate($arrow-size * 2/3, 0px) rotate(-45deg);
      animation: arrows $arrow-speed linear infinite $arrow-speed/-2;
    }
  }
}

@keyframes arrows {
  0% {
    border-left: $arrow-size/3 solid rgba(61, 90, 128, 0);
    border-bottom: $arrow-size/3 solid rgba(61, 90, 128, 0);
    transform: translate($arrow-size/-6, $arrow-size * 4/-6) rotate(-45deg);
  }
  10%,
  90% {
    border-left: $arrow-size/3 solid rgba(61, 90, 128, 0);
    border-bottom: $arrow-size/3 solid rgba(61, 90, 128, 0);
  }
  50% {
    border-left: $arrow-size/3 solid rgba(61, 90, 128, $peakopacity);
    border-bottom: $arrow-size/3 solid rgba(61, 90, 128, $peakopacity);
    transform: translate($arrow-size/-6, 0px) rotate(-45deg);
  }
  100% {
    border-left: $arrow-size/3 solid rgba(61, 90, 128, 0);
    border-bottom: $arrow-size/3 solid rgba(61, 90, 128, 0);
    transform: translate($arrow-size/-6, $arrow-size * 4/6) rotate(-45deg);
  }
}

.landing {
  justify-content: center;
  flex-direction: column-reverse;
  margin: 20px 0;

  @include sm {
    flex-direction: row;
    height: 40%;
  }

  @include xl {
    flex-direction: row;
    height: auto;
  }

  #{&}-image {
    align-self: center;
    flex-grow: 1;
    display: none;

    @include sm {
      display: block;
    }

    img {
      width: auto;
      top: 50%;
      margin: 0 auto;

      @include sm {
        height: 30vw;
        margin: 0;
      }

      @include md {
        height: 25vw;
      }
    }

    @include sm {
      flex-grow: 0;
    }
  }

  #{&}-tag {
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 75%;
    flex-grow: 1;

    @include sm {
      width: auto;
      display: block;
    }
  }

  #{&}-text {
    flex-grow: 1;
    border-radius: 1em;
    overflow-y: auto;

    @include sm {
      margin: 0 20%;
    }

    .name {
      margin: 1rem 0;

      @include sm {
        margin: 2rem 0;
      }
    }

    .tag {
      background: $component-color;
      border: 5px solid $component-color;
      padding: 0.25rem 5px;
    }

    > :first-child {
      padding: 0;
    }
  }

  &-links {
    flex-direction: column-reverse;
    justify-content: center;
    height: 30%;

    @include sm {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 40%;
    }

    @include md {
      height: 30%;
    }

    #{&}-container {
      flex-direction: column;
      align-items: center;

      @include sm {
        flex-grow: 1;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 0 0;
      }

      i {
        font-size: 1em;

        @include sm {
          font-size: 1.5em;
        }

        @include md {
          font-size: 1.5em;
        }
      }
    }

    .link-text {
      display: inline-block;
    }
  }

  &-intro {
    text-align: center;
  }
}
