.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;

  @include sm {
    display: flex;
  }

  &-item {
    margin: 1vh 0;
    width: 100%;
    text-align: right;
    position: relative;

    .nav-text {
      position: absolute;
      display: block;
      border-radius: 5px;
      padding: 0.25rem 0.5rem;
      top: -25%;
      right: 2vw;
      text-decoration: underline;
    }

    .faNav {
      &:hover {
        padding-left: 2vw;
      }

      &.router-link-exact-active {
        color: $secondary-color;
        border-color: $secondary-color;
      }
    }
  }
}
