.sidebar {
  height: 100%;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  padding-right: 10px;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-item {
    margin: 1vh 0;
    width: 100%;
    text-align: right;
    position: relative;

    .router-link-active {
      color: $secondary-color;
    }

    .nav-text {
      position: absolute;
      display: block;
      color: $primary-color;
      border-radius: 5px;
      padding: 0.25rem 0.5rem;
      top: -25%;
      right: 2vw;

      &:hover {
        color: $secondary-color;
      }
    }

    .faNav {
      &:hover {
        padding-left: 2vw;
      }
    }
  }
}
