$primary-color: #e0fbfc;
$a-tags: "a, a:active, a:visited";
$secondary-color: #ee6c4d;
$background-color: #293241;
$component-color: #3d5a80;
$link-color: #98c1d9;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// scroll down arrow
$arrow-size: 20px;
$arrow-speed: 3s;
$peakopacity: 0.7;
